.red {
  color: #991b1b;
  background-color: #fee2e2;
}

.yellow {
  color: #92400e;
  background-color: #fef3c7;
}

.green {
  color: #065f46;
  background-color: #d1fae5;
}

.blue {
  color: #1e40af;
  background-color: #dbeafe;
}
